.content-header{
    display: none;
    
    .content-filters{
        display: flex;
        flex-direction: column;
        align-items: center;
    
        select, input, select option{
            text-align: center;
            padding: 5px;
            width: 80%;
            border-radius: 10px;
            margin: 10px;
        }
    }
}
.info-container{
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin: 20px auto;
    border-radius: 5px;
    box-shadow: 2px 2px 8px 2px rgba(0,0,0,0.75);
    
    h2{
        padding: 20px;
        font-size: 1.2rem;
    }
    p{
        margin: 10px;
    }
    .tabs-container{
        width: 80%;
        margin: 0 auto;
    }
}

.btn{
    width: 80%;
    border: 1px solid;
    padding: 10px 20px;
    display: block;
    text-align: center;
    margin: 10px auto;
    text-decoration: none;
    color: #37003A;
    border: 1px solid #37003A;
    &:hover{
        color: white;
        background:#37003A;
        transition: 1s;
    }
}

#content-output{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(1, auto);
    column-gap: 10px;
}

.card {
    width: 320px;
    height: 500px;
    box-shadow: inset 5px 5px 5px rgba(55, 0, 58, .2),
                inset -5px -5px 15px rgba(69, 19, 73, .1),
                5px 5px 15px rgba(55, 0, 58, .3), 
                -5px -5px 15px rgba(69, 19, 73, .1);
    border-radius: 15px;
    margin: 20px auto;
    padding: 20px;
    perspective: 1000px;
}


@media only screen and (min-width: 577px) {
    #content-output{
        grid-template-columns: repeat(2, auto);
    }
}
@media only screen and (min-width: 971px) {
    #content-output{
        grid-template-columns: repeat(3, auto);
        column-gap: 20px;
    }
    .card{
        width: 320px;
        height: 450px;
    }
    .content-header .content-filters{
        flex-direction: row;
        justify-content: center;

    }
    #filter-select, #search-bar{
        width: 300px;
    }
}
