.content-filters{
    display: flex;
    flex-direction: column;
    align-items: center;

    select, input, select option{
        text-align: center;
        padding: 5px;
        width: 80%;
        border-radius: 10px;
        margin: 10px;


    }
}
