.user-section{
    margin: 2rem;
    padding: 1rem;
    text-align: center;
}
.select-cursor{
    cursor: pointer;
}
.user-header{
    font-size: large;
    font-weight: bold;
}
.input-container{
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    #name-input{
        padding: 5px;
        text-align: center;
        margin: 10px;
    }
}   
.quiz{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 20px auto;
    border-radius: 5px;
    box-shadow: 2px 2px 8px 2px rgba(0,0,0,0.75);

    &__header{
        padding: 1rem;
        font-weight: bold;
    }

    &__box{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0.5rem;
    }

    &__btn{
        width: 40%;
        height: 5rem;
        cursor: pointer;
        background-color: yellowgreen;
        border-radius: 0.5rem;
    }
}
.highscore-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;

}
.fa-crown{
    //visibility: hidden;
    color:  #ffd650;
    transform: scale(2);
    
}
.highscore-output{
    margin: 1rem;
    width: 40%;
    height: 1000px;
    text-align: center;
}
.highscore-output h4{
    padding: .5rem;
    margin: .3rem;
    border: 5px ridge #ffd650;
    border-radius: .5rem;
    box-shadow: 5px 4px 5px 2px rgba(0,0,0,0.56);
    list-style: number;
}
.hidden{
    display: none;
}
.box{
    height: 50px;
    width: 50px;
}

@media only screen and (min-width: 577px) {
    .input-container{
    flex-direction: row;
    }
}