.modal{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    left: 0px;
   // visibility: hidden;
    height: 80%;
    width: 100%;
    background-color: rgba(55, 0, 58, 0.2)
}
.modal-content{
    background-color:rgb(34, 33, 169);
    box-shadow:  10px 8px 5px rgba(55, 0, 58, .2);
    color: white;
    width: 50%;
    height: auto;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 1rem;
}
.close-btn{
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: rgb(34, 33, 169);
    color: white;
}
.question-content{
    padding: 1rem;
}
.question-header{
    font-weight: bold;
    text-align: center;
    margin: 1rem;
    border-bottom: 1px solid white;
}
.quiz-btn{
    width: 90%;
    padding: 0.5rem;
    //background-color: rgb(34, 33, 169);
    border-radius: 1rem;
}
.quiz-btn:hover{
    background-color: green;
    transition: 1s;
}
.open-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}