/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

.page-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-shadow: 0px 3px 15px 0px rgba(55, 0, 58, 0.5);
}
.page-header .logo, .page-header .menu-bars, .page-header .navbar-container .navbar li a, .page-header .exit-menu {
  text-decoration: none;
  color: #37003a;
  font-size: 1.5rem;
  padding: 10px 20px;
  cursor: pointer;
}
.page-header .logo:hover, .page-header .menu-bars:hover, .page-header .navbar-container .navbar li a:hover, .page-header .exit-menu:hover {
  background-color: #37003a;
  color: #fff;
}
.page-header .navbar-container {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: white;
  transition: 0.8s;
  overflow: hidden;
}
.page-header .navbar-container .exit-menu {
  width: 100%;
  text-align: right;
  background-color: #37003a;
  color: #fff;
  border: 1px solid #37003a;
}
.page-header .navbar-container .exit-menu:hover {
  background-color: #fff;
  color: #37003a;
}
.page-header .navbar-container .navbar {
  display: flex;
  flex-direction: column;
}
.page-header .navbar-container .navbar__link {
  display: block;
  text-align: center;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
}
.page-header .navbar-container .navbar__link-icon {
  float: left;
}
.page-header .navbar-container .navbar__link:hover {
  background-color: white;
  border-bottom: 1px solid #37003a;
  border-top: 1px solid #37003a;
}
@media (min-width: 768px) {
  .page-header .page-header {
    flex-wrap: nowrap;
  }
  .page-header .menu-bars, .page-header .exit-menu {
    display: none;
  }
  .page-header .navbar-container {
    position: static;
    width: auto;
  }
  .page-header .navbar-container .navbar {
    flex-direction: row;
  }
  .page-header .navbar-container .navbar__link:hover {
    background-color: #37003a;
    border: 1px solid #37003a;
    color: white;
    transition: 0.2s;
  }
}

.page-headline {
  text-align: center;
  font-size: 1.5rem;
  color: white;
  background-color: #37003a;
}

#athletes-header {
  display: flex;
  justify-content: space-around;
}
#athletes-card-container {
  height: 20rem;
  width: 17rem;
  border-radius: 1rem;
}
#athletes-card-container .athletes-inner-card {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 1rem;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
  color: black;
  box-shadow: inset 5px 5px 5px rgba(55, 0, 58, 0.2), inset -5px -5px 15px rgba(69, 19, 73, 0.1), 5px 5px 15px rgba(55, 0, 58, 0.3), -5px -5px 15px rgba(69, 19, 73, 0.1);
}
#athletes-card-container #athletes-img-container {
  padding: 0.5rem;
  display: flex;
  border-radius: 1rem;
  height: 90%;
  width: 100%;
  -webkit-animation: shimmer 1s linear infinite;
          animation: shimmer 1s linear infinite;
}
#athletes-card-container #athletes-img-container #athletes-image {
  width: 100%;
  height: auto;
  border-radius: 1rem;
}
#athletes-card-container #athletes-card-front {
  border-radius: 1rem;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
#athletes-card-container #athletes-card-front__genre {
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  position: relative;
  left: 11rem;
  width: 5rem;
}
#athletes-card-container #athletes-card-front__name {
  background-color: white;
  position: relative;
  width: 10rem;
  bottom: 1.5rem;
  border-radius: 1rem;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
#athletes-card-container #athletes-card-front__age {
  background-color: white;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  position: relative;
  border-radius: 1rem;
  width: 5rem;
  bottom: 1.2rem;
  left: 0.5rem;
}
#athletes-card-container #athletes-card-back {
  border-radius: 1rem;
  border: 2px solid black;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform: rotateY(180deg);
}
#athletes-card-container:hover .athletes-inner-card {
  transform: rotateY(180deg);
}

.banner-container {
  position: relative;
}
.banner-container .banner-overlay {
  position: absolute;
  bottom: 0;
  background: rgba(30, 30, 30, 0.5);
  width: 100%;
  padding: 10px;
  text-align: center;
  color: #fff;
}
.banner-container .banner-overlay .title {
  font-size: 2rem;
  padding: 10px;
}
.banner-container .home-banner {
  height: 400px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  background: linear-gradient(90deg, #4d1b4e 0%, #1f40c8 100%);
  color: white;
}
.banner-container .home-banner span {
  width: 150px;
  border: 1px solid white;
  padding: 15px;
  margin: 15px auto;
  font-weight: 600;
  font-size: 3.5rem;
  display: block;
  text-align: center;
  background: rgba(0, 0, 0, 0.1);
}

.user-section {
  margin: 2rem;
  padding: 1rem;
  text-align: center;
}

.select-cursor {
  cursor: pointer;
}

.user-header {
  font-size: large;
  font-weight: bold;
}

.input-container {
  text-align: center;
  padding: 1rem;
  border: 1px solid red;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}
.input-container #name-input {
  margin: 0.2rem;
}

.user-output {
  border: 1px solid red;
}

.quiz {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.quiz__header {
  padding: 1rem;
  font-weight: bold;
}
.quiz__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid red;
  margin: 0.5rem;
}
.quiz__btn {
  width: 40%;
  height: 5rem;
  cursor: pointer;
  background-color: yellowgreen;
  border-radius: 0.5rem;
}

.highscore-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}

.fa-crown {
  color: #ffd650;
  transform: scale(2);
}

.highscore-output {
  margin: 1rem;
  width: 40%;
  height: 1000px;
  text-align: center;
}

.highscore-output h4 {
  padding: 0.5rem;
  margin: 0.3rem;
  border: 5px ridge #ffd650;
  border-radius: 0.5rem;
  box-shadow: 5px 4px 5px 2px rgba(0, 0, 0, 0.56);
  list-style: number;
}

.hidden {
  display: none;
}

.box {
  height: 50px;
  width: 50px;
  background-color: red;
}

@media only screen and (min-width: 577px) {
  .input-container {
    flex-direction: row;
  }
}
.modal {
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  display: none;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.selected {
  background-color: rgba(255, 255, 255, 0.1);
  color: whitesmoke;
}

.confetti {
  width: 7px;
  height: 12px;
  position: absolute;
  background-color: #00FF00;
  z-index: 2;
}

/*
.modal-content{   
    box-shadow:  10px 8px 5px rgba(55, 0, 58, .2);
    color: white;
    width: 50%;
    height: auto;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 1rem;
}
.close-btn{
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: rgb(34, 33, 169);
    color: white;
}
.question-content{
    padding: 1rem;
}
.question-header{
    font-weight: bold;
    text-align: center;
    margin: 1rem;
    border-bottom: 1px solid white;
}
.quiz-btn{
    width: 90%;
    padding: 0.5rem;
    //background-color: rgb(34, 33, 169);
    border-radius: 1rem;
}
.quiz-btn:hover{
    background-color: green;
    transition: 1s;
}
*/
.open-modal {
  opacity: 1;
  transform: scale(1);
  transition: all 0.25s;
}

.content-header {
  display: none;
}
.content-header .content-filters {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-header .content-filters select, .content-header .content-filters input, .content-header .content-filters select option {
  text-align: center;
  padding: 5px;
  width: 80%;
  border-radius: 10px;
  margin: 10px;
}

.welcome-msg {
  width: 100%;
  max-width: 400px;
  text-align: center;
  margin: 20px auto;
  border-radius: 5px;
  box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.75);
}
.welcome-msg h2 {
  padding: 20px;
  font-size: 1.2rem;
}
.welcome-msg p {
  margin: 10px;
}

.btn {
  width: 80%;
  border: 1px solid;
  padding: 10px 20px;
  display: block;
  text-align: center;
  margin: 10px auto;
  text-decoration: none;
  color: #37003A;
  border: 1px solid #37003A;
}
.btn:hover {
  color: white;
  background: #37003A;
  transition: 1s;
}

#content-output {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(1, auto);
  -moz-column-gap: 10px;
       column-gap: 10px;
}

.card {
  width: 320px;
  height: 500px;
  box-shadow: inset 5px 5px 5px rgba(55, 0, 58, 0.2), inset -5px -5px 15px rgba(69, 19, 73, 0.1), 5px 5px 15px rgba(55, 0, 58, 0.3), -5px -5px 15px rgba(69, 19, 73, 0.1);
  border-radius: 15px;
  margin: 20px auto;
  padding: 20px;
  perspective: 1000px;
}

@media only screen and (min-width: 577px) {
  #content-output {
    grid-template-columns: repeat(2, auto);
  }
}
@media only screen and (min-width: 971px) {
  #content-output {
    grid-template-columns: repeat(3, auto);
    -moz-column-gap: 20px;
         column-gap: 20px;
  }

  .card {
    width: 320px;
  }

  .content-header .content-filters {
    flex-direction: row;
  }
}/*# sourceMappingURL=main.css.map */