/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

.page-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-shadow: 0px 3px 15px 0px rgba(55, 0, 58, 0.5);
}
.page-header .logo, .page-header .menu-bars, .page-header .navbar-container .navbar li a, .page-header .exit-menu {
  text-decoration: none;
  color: #37003a;
  font-size: 1.5rem;
  padding: 10px 20px;
  cursor: pointer;
}
.page-header .logo:hover, .page-header .menu-bars:hover, .page-header .navbar-container .navbar li a:hover, .page-header .exit-menu:hover {
  background-color: #37003a;
  color: #fff;
}
.page-header .navbar-container {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: white;
  transition: 0.8s;
  overflow: hidden;
}
.page-header .navbar-container .exit-menu {
  width: 100%;
  text-align: right;
  background-color: #37003a;
  color: #fff;
  border: 1px solid #37003a;
}
.page-header .navbar-container .exit-menu:hover {
  background-color: #fff;
  color: #37003a;
}
.page-header .navbar-container .navbar {
  display: flex;
  flex-direction: column;
}
.page-header .navbar-container .navbar__link {
  display: block;
  text-align: center;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
}
.page-header .navbar-container .navbar__link-icon {
  float: left;
}
.page-header .navbar-container .navbar__link:hover {
  background-color: white;
  border-bottom: 1px solid #37003a;
  border-top: 1px solid #37003a;
}
@media (min-width: 768px) {
  .page-header .page-header {
    flex-wrap: nowrap;
  }
  .page-header .menu-bars, .page-header .exit-menu {
    display: none;
  }
  .page-header .navbar-container {
    position: static;
    width: auto;
  }
  .page-header .navbar-container .navbar {
    flex-direction: row;
  }
  .page-header .navbar-container .navbar__link:hover {
    background-color: #37003a;
    border: 1px solid #37003a;
    color: white;
    transition: 0.2s;
  }
}

/*.content-tabs{
    display: flex;
    justify-content: center;
    background-color: rgb(55, 0, 58);
    padding-bottom: 20px;

    .tabs{
        width: 50%;
        background-color: rgb(55, 0, 58);
        border: 1px solid rgba(255, 255, 255,.5);
        padding: 10px 5px;
        color: #999;

        &:hover{
            background-color: rgba(255, 255, 255, .1);
            border: 1px solid rgba(255, 255, 255, .1);
            color: #fff;
        }
    }
    .active-tab{
        color: #eee;
        border: 1px solid rgb(55, 0, 58);
        border-top: none;
    }
}*/
.content-filters {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.football-card-container {
  max-width: 370px;
  height: 420px;
  margin: 0 auto;
  position: relative;
  box-shadow: inset 5px 5px 5px rgba(55, 0, 58, 0.2), inset -5px -5px 15px rgba(69, 19, 73, 0.1), 5px 5px 15px rgba(55, 0, 58, 0.3), -5px -5px 15px rgba(69, 19, 73, 0.1);
  border-radius: 15px;
  transition: 0.5s;
}
.football-card-container .football-card-cover {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  background: #451349;
  border-radius: 20px;
  overflow: hidden;
  transition: 0.5s;
  color: white;
}
.football-card-container .football-card-cover .logo-img {
  max-width: 100%;
  height: 100px;
  border: 1px solid white;
}
.football-card-container p {
  border: 1px solid white;
  text-align: center;
}

#athletes-header {
  display: flex;
  justify-content: space-around;
}
#athletes-card-container {
  height: 20rem;
  width: 17rem;
  border-radius: 1rem;
}
#athletes-card-container .athletes-inner-card {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 1rem;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
  color: black;
  box-shadow: inset 5px 5px 5px rgba(55, 0, 58, 0.2), inset -5px -5px 15px rgba(69, 19, 73, 0.1), 5px 5px 15px rgba(55, 0, 58, 0.3), -5px -5px 15px rgba(69, 19, 73, 0.1);
}
#athletes-card-container #athletes-img-container {
  padding: 0.5rem;
  display: flex;
  border-radius: 1rem;
  height: 90%;
  width: 100%;
  -webkit-animation: shimmer 1s linear infinite;
          animation: shimmer 1s linear infinite;
}
#athletes-card-container #athletes-img-container #athletes-image {
  width: 100%;
  height: auto;
  border-radius: 1rem;
}
#athletes-card-container #athletes-card-front {
  border-radius: 1rem;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
#athletes-card-container #athletes-card-front__genre {
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  position: relative;
  left: 11rem;
  width: 5rem;
}
#athletes-card-container #athletes-card-front__name {
  background-color: white;
  position: relative;
  width: 10rem;
  bottom: 1.5rem;
  border-radius: 1rem;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
#athletes-card-container #athletes-card-front__age {
  background-color: white;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  position: relative;
  border-radius: 1rem;
  width: 5rem;
  bottom: 1.2rem;
  left: 0.5rem;
}
#athletes-card-container #athletes-card-back {
  border-radius: 1rem;
  border: 2px solid black;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform: rotateY(180deg);
}
#athletes-card-container:hover .athletes-inner-card {
  transform: rotateY(180deg);
}

.banner-container {
  position: relative;
}
.banner-container .banner-overlay {
  position: absolute;
  bottom: 0;
  background: rgba(30, 30, 30, 0.5);
  width: 100%;
  padding: 10px;
  text-align: center;
  color: #fff;
}
.banner-container .banner-overlay .title {
  font-size: 2rem;
  padding: 10px;
}/*# sourceMappingURL=main.css.map */